body{
    width: 100%;  
}
main{
    width: 90%;
    margin: 0 auto;
    padding-top: 3.5rem;
}

.header{
    background-color: var(--grayShades1);
    color: var(--grayShades5);
    display: flex;
    justify-content:space-around;
    padding: 2rem 0;
    gap: 34rem;
    position: fixed;
    top: 0;
    left: 0;
}

.container__user{
    display: flex;
    padding: 2rem 0;
    width: 100%
}

.container__profile{
    display: flex;
    flex-direction: column; 
    width: 65%;
    margin-right: 2rem;
}

.container__sugestions{
    box-sizing: border-box;
    width: 35%;
}

.profile__user{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.profile__photo{
    height: 3.125rem;
}

.user__name{
    color: var(--grayShades1);
    margin-bottom: 0.3rem;
}

.profile__form{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}
.profile__form input{
    height: 3rem;

    font-size: var(--text-size1);
    font-weight: var(--text-weight1);
    line-height: var(--text-height1);

    color: var(--grayShades2);
    border: 1px solid var(--grayShades4);

    border-radius: var(--radious);
    margin-bottom: 1rem;
    padding: 0.5rem
}
.profile__form input:focus, .profile__form textarea:focus{
    border: 1px solid var(--brand2);
}

.profile__form textarea{
    height: 100%;
    font-size: var(--text-size1);
    font-weight: var(--text-weight1);
    line-height: var(--text-height1);

    color: var(--grayShades2);
    border: 1px solid var(--grayShades4);

    margin-bottom: 1rem;
    border-radius: 8px;
    padding: 0.5rem;
}

.profile__button{
    display: flex;
    width: 20%;
    align-self: flex-end;
    justify-content: center;
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--brand1);
    color: var(--white);
    cursor: pointer;
}
.profile__button:hover{
    background-color: var(--brand2);
}

.sugestions__list{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    overflow-x: scroll;
}

.list__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.list__profile{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.list__button{
    padding: 0.5rem 0.9rem;
    border-radius: 4px;
    background-color: var(--grayShades5);
    color: var(--grayShades0);
    border:1px solid var(--grayShades0);
    cursor: pointer;
}

.list__button:hover{
    background-color: var(--white);
    color: var(--brand2);
    border:1px solid var(--brand2)
}
.list__button:focus{
    color: var(--brand2);
}

.text2--bold{
    font-weight: 600;
    font-size: var(--text-size2);

}

.posts__button{
    background-color: var(--grayShades1);
    color: var(--white);
    padding: 0.8rem;
    border-radius: var(--radious);
}

.posts__button:hover{
    background-color: var(--grayShades0);
}

.container__posts{
    margin: 2rem 0;
    width: 60%;
}

.article__info{
    margin: 5rem 0 3rem 0;
}

.article__info{
    display: flex;
}

.profile__photo{
    margin-right: 1rem;
}

.posts__title{
    margin-bottom: 2rem;
}

.posts__aticle{
    margin: 4rem 0;
}

.posts__info{
    margin-bottom: 2rem;
    width: 100%;

    white-space: nowrap;
    overflow: hidden;

    text-overflow: ellipsis;
}

.container__likes{
    display: flex;
    align-items: center;

}

.container__img{
    margin: 0 2rem;
}

@media (max-width: 1025px){
    .container__user{
        flex-wrap: wrap;  
    }
    .container__profile{
        width: 100%;
    }
    .container__sugestions{
        text-align: left;
        width: 100%;
    }
    .sugestions__list{
        flex-direction: row;
    }
    .list__item{
        width: auto;
        flex-direction: column;
        align-items: flex-start;
    }
    .list__profile{
        gap: 0;
        margin: 2rem 2rem 0 0;
    }
}

@media (max-width: 768px){
    .header{
        width: 100%;
        gap: 0;
    }
    .sugestions__list{
        overflow-x: scroll;
    }
    .list__item{
        
    }
    .list__profile{
        flex-direction: column;
        align-items: flex-start;
    }
    .profile__photo{
        margin-bottom: 1rem;
     }
}